/* index.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  background-color: #222;
  color: #fff;
  margin: 0;
  padding: 20px 0;
}

.main {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.movie-card {
  display: flex;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 800px;
}

.left img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.right {
  padding: 20px;
  flex: 1;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.plot {
  font-size: 16px;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.ratings {
  background-color: #ffc107;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.stars-disc {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stars-disc img {
  width: 20px;
  cursor: pointer;
}

.buttons button {
  margin-right: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.favourite {
  background-color: #ff4081;
  color: white;
}

.un-favourite {
  background-color: #df0a0a;
  color: white;
}


.cart {
  background-color: #3f51b5;
  color: white;
}

.remove-cart {
  background-color: #0d2ee9;
  color: white;
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1f2937; 
  padding: 10px 20px;
  color: white;
  font-family: 'Segoe UI', sans-serif;
} */

.title h2 {
  margin: 0;
  font-size: 24px;
  color: #fbbf24; /* amber for highlight */
}

.nav-cart {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}

.nav-cart img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  filter: invert(1); /* makes a black icon white */
}

.nav-cart span {
  background-color: red;
  color: white;
  font-size: 14px;
  padding: 2px 6px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -10px;
}

